* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
}

:root {
    --taskbar-height: 48px;
    --taskbar-border-color: rgb(191, 191, 191);
    --taskbar-padding-tb: 4px;
    --taskbar-padding-lr: 12px;
    --taskbar-gap: 6px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.webos {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.webos-loading-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20vh;
}

.webos-loading {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    flex-direction: column;
    user-select: none;
    transition: opacity .3s ease-in-out, z-index .5s ease;
}

.webos-loading-spinner {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 3px;
    overflow: visible;
}

.webos-loading-spinner>circle {
    stroke: #fff;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transition: all .2s ease-in-out 0s;
    animation: 2s linear 0s infinite normal none running loading-spinner;
}

.webos-loading-image, .webos-loading-spinner {
    opacity: 0;
    animation: .2s linear .1s 1 normal forwards running show-loader;
}

@keyframes loading-spinner {
    0% {
        stroke-dasharray: 0.01px,43.97px;
        transform: rotate(0);
    }
    
    50% {
        stroke-dasharray: 21.99px,21.99px;
        transform: rotate(450deg);
    }
    100% {
        stroke-dasharray: 0.01px,43.97px;
        transform: rotate(1080deg);
    }
}

@keyframes show-loader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.webos-loading.active {
    opacity: 1;
    z-index: 10000000000;
}

/*.webos-taskbar-start-main-icon {
    --start-icon-size: 20px;
    --start-icon-gap: 1px;
    --start-icon-child-size: calc((var(--start-icon-size) - var(--start-icon-gap)) / 2);
    --start-icon-border-radius: 1.5px;
    position: absolute;
    width: var(--start-icon-size);
    height: var(--start-icon-size);
    display: flex;
    flex-wrap: wrap;
    transform-origin: center;
    justify-content: center;
    align-items: center;
}
.webos-taskbar-start-main-icon .webos-taskbar-start-main-icon-child {
    position: relative;
    width: var(--start-icon-child-size);
    height: var(--start-icon-child-size);
    background-size: var(--start-icon-size) var(--start-icon-size);
    margin-left: var(--start-icon-gap);
    margin-bottom: var(--start-icon-gap);
    background-image: linear-gradient(to right bottom, rgb(165, 223, 249), rgb(0, 121, 212));
}

.webos-taskbar-start-main-icon-child.lt {
    border-radius: var(--start-icon-border-radius) 0 0 0;
    background-position: 0 0;
    margin-left: 0;
}

.webos-taskbar-start-main-icon-child.rt {
    border-radius: 0 var(--start-icon-border-radius) 0 0;
    background-position: calc(var(--start-icon-child-size) + var(--start-icon-gap)) 0;
}

.webos-taskbar-start-main-icon-child.rb {
    border-radius: 0 0 var(--start-icon-border-radius) 0;
    background-position: calc(var(--start-icon-child-size) + var(--start-icon-gap)) calc(var(--start-icon-child-size) + var(--start-icon-gap));
    margin-bottom: 0;
}

.webos-taskbar-start-main-icon-child.lb {
    border-radius: 0 0 0 var(--start-icon-border-radius);
    background-position: 0 calc(var(--start-icon-child-size) + var(--start-icon-gap));
    margin: 0;
}
*/

.webos-taskbar {
    height: var(--taskbar-height);
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 99999;
    background: rgba(243, 243, 243, .85);
    backdrop-filter: blur(5px);
    border-top: 1px solid var(--taskbar-border-color);
    padding: var(--taskbar-padding-tb) var(--taskbar-padding-lr);
    display: flex;
    flex-direction: row;
    gap: var(--taskbar-gap);
    user-select: none;
}

.webos-showcase {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.webos-showcase-desktop {
    width: 100vw;
    height: calc(100vh - var(--taskbar-height));
    user-select: none;
    padding: 4px 2px;
}

.webos-taskbar-start,
.webos-taskbar-apps,
.webos-taskbar-tools {
    height: calc(var(--taskbar-height) - var(--taskbar-padding-tb) * 2);
    display: flex;
    gap: var(--taskbar-gap);
}

.webos-taskbar-apps {
    overflow: auto;
}

.webos-taskbar-apps::-webkit-scrollbar {
    width: 0;
    height: 0;
    border-radius: 0px;
    background: none;
    border: 0;
}

.webos-taskbar-apps::-webkit-scrollbar-corner {
    background: none;
}

.webos-taskbar-apps::-webkit-scrollbar-thumb {
    min-height: 50px;
    min-width: 50px;
    border-radius: 10px;
}

.webos-taskbar-start-main,
.webos-taskbar-app,
.webos-taskbar-start-item {
    height: calc(var(--taskbar-height) - var(--taskbar-padding-tb) * 2);
    width: calc(var(--taskbar-height) - var(--taskbar-padding-tb) * 2);
    border-radius: 4px;
    justify-content: center;
    transition: all .1s ease;
    position: relative;
    display: grid;
    place-items: center;
    transform-origin: center;
}

.webos-taskbar-start-main:hover,
.webos-taskbar-start-main.active,
.webos-taskbar-app:hover,
.webos-taskbar-app.active,
.webos-taskbar-start-item:hover,
.webos-taskbar-start-item.active {
    background: rgba(255, 255, 255, .7);
    box-shadow: rgba(99, 99, 99, 0.1) 0px 1px 1px 0px;
}

.webos-showcase-desktop-object {
    width: 72px;
    max-height: 60px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: all .1s ease;
    border-radius: 3px;
}

.webos-showcase-desktop-object-icon {
    width: 32px;
    height: 32px;
}

.webos-showcase-desktop-object-name {
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
    font-weight: 100;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.webos-showcase-desktop-object:hover {
    background: rgba(255, 255, 255, .1);
}

.webos-showcase-desktop-object:active,
.webos-showcase-desktop-object:focus {
    background: rgba(255, 255, 255, .2);
    box-shadow: rgba(99, 99, 99, 0.01) 0px 1px 1px 1px;
}

.webos-taskbar-app-icon,
.webos-taskbar-start-item-icon,
.webos-taskbar-start-main-icon {
    width: 28px;
    height: 28px;
}

.webos-taskbar-app-icon-image,
.webos-taskbar-start-item-icon-image,
.webos-taskbar-start-main-icon-image {
    width: 28px;
    height: 28px;
}

.webos-taskbar-tools {
    margin: 0 0 0 auto;
}

.webos-taskbar-apps-pinned,
.webos-taskbar-apps-default {
    display: flex;
    gap: var(--taskbar-gap);
}

.webos-showcase-app {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 1px 3px 3px 0px;
    outline: none;
}

.webos-showcase-app-toolbar {
    height: 30px;
    display: flex;
    justify-content: space-between;
    background: rgb(241, 241, 241);
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
}

.webos-showcase-app-toolbar-title {
    padding: 0 10px 0 5px;
    font-weight: 300;
    font-size: 10px;
    max-width: calc(100% - 120px);
    flex: 1 auto;
    display: flex;
    align-items: center;
    -webkit-user-drag: none;
    width: auto;
}

.webos-showcase-app-toolbar-icon {
    width: 20px;
    height: 20px;
    -webkit-user-drag: none;
}

.webos-showcase-app-toolbar-text {
    margin-left: 6px;
    font-weight: 300;
    font-size: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.webos-showcase-app-toolbar-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    flex: auto;
    position: absolute;
    right: 0;
}

.webos-showcase-app-toolbar-control {
    transition: all .16s ease-in-out;
}

.webos-showcase-app-toolbar-control {
    width: 40px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

.webos-showcase-app-toolbar-control-icon {
    width: 12px;
    height: 12px;
    margin: 0 auto;
    transition: all .16s ease-in-out;
}

.webos-showcase-app-toolbar-controls * {
    box-sizing: content-box;
}

.webos-showcase-app-content {
    height: calc(100% - 30px);
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
    overflow: auto;
}

.webos-showcase-app-content-root {
    all: unset;
}

.webos-showcase-app-content-mask {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    top: -100%;
    left: 0;
    z-index: 9;
}

.webos-showcase-app-toolbar-control.mini:hover,
.webos-showcase-app-toolbar-control.full:hover {
    background: rgba(136,136,136,.2);
}

.webos-showcase-app-toolbar-control.close .webos-showcase-app-toolbar-control-icon {
    width: 14px;
    height: 14px;
}

.webos-showcase-app-toolbar-control.close:hover {
    background: rgba(255,0,0,.8);
}

.webos-showcase-app-toolbar-control.close:hover .webos-showcase-app-toolbar-control-icon {
    filter: invert(1);
}

.webos-showcase-app-position-preview {
    background: none;
    position: fixed;
    border-radius: 4px;
    backdrop-filter: blur(0px);
    transition: all .2s ease-in-out;
    inset: 50%;
    width: 0;
    height: 0;
}

.webos-showcase-app-position-preview.active {
    backdrop-filter: blur(10px);
    background: rgba(231, 231, 231, 0.3);
    z-index: 2;
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.12);
}

.webos-taskbar-start-main:active,
.webos-taskbar-app:active,
.webos-taskbar-start-item:active,
.webos-taskbar-start-item:active {
    background: rgba(255, 255, 255, .42);
}

.webos-taskbar-start-group {
    display: flex;
    gap: var(--taskbar-gap);
}

.webos-taskbar-app.running::after {
    background: #858585;
    border-radius: 1.5px;
    height: 3px;
    width: 6px;
    content: '';
    position: relative;
    bottom: 3px;
    display: block;
    position: absolute;
    display: block;
    bottom: 0;
    height: 3px;
    border-radius: 4px;
    margin: 0 auto;
    transition: all .2s ease-in-out;
}

.webos-taskbar-app.running.active::after {
    width: 12px;
    background: #1e90ff;
}